.DS_Store

archivos_adjuntos/compras/proveedores/*
archivos_adjuntos/compras/solicitudes/*
archivos_adjuntos/almacen/firmas/*
archivos_adjuntos/talentohumano/hojas_vidas/*
archivos_adjuntos/talentohumano/volantes/*
archivos_adjuntos/talentohumano/solicitudes/*
archivos_adjuntos/talentohumano/detalles_solicitudes/*
archivos_adjuntos/talentohumano/certificados/*
archivos_adjuntos/talentohumano/documentos_solicitudes/*
archivos_adjuntos/talentohumano/documentos_seleccion/*
archivos_adjuntos/talentohumano/certificados/*
archivos_adjuntos/talentohumano/requisicion/*
archivos_adjuntos/talentohumano/documentos_gestion/*
archivos_adjuntos/talentohumano/actas/*
archivos_adjuntos/talentohumano/ecargo/*
archivos_adjuntos/talentohumano/cesantias/*

archivos_adjuntos/solicitudesADM/archivos_personas/*
archivos_adjuntos/solicitudesADM/logistica/*
archivos_adjuntos/solicitudesADM/matriculas/*
archivos_adjuntos/solicitudesADM/polizas/*
archivos_adjuntos/solicitudesADM/reembolso/*
archivos_adjuntos/ascensos/items/*

archivos_adjuntos/visitas/fotos_visitantes/*
archivos_adjuntos/profesores/soportes/*
archivos_adjuntos/profesores/firmas/*
archivos_adjuntos/visitas/firmas/*
archivos_adjuntos/visitas/actas/*

archivos_adjuntos/contrataciones/*

archivos_adjuntos/facturacion/banco/*
archivos_adjuntos/facturacion/facturas/*

archivos_adjuntos/proyectos/adjuntos/*
archivos_adjuntos/proyectos_index/*
archivos_adjuntos/proyectos_index_creacion/*
archivos_adjuntos/comunicaciones/solicitudes/*

archivos_adjuntos/becas/*
archivos_adjuntos/becas/soportes/*

archivos_adjuntos/bienestar_laboral/seguridad_trabajo/*
archivos_adjuntos/bienestar_laboral/asesorias/*
archivos_adjuntos/calidad/*
archivos_adjuntos/talento_cuc/plan_formacion
archivos_adjuntos/talento_cuc/formacion_academica
archivos_adjuntos/talento_cuc/entrenamiento
archivos_adjuntos/talento_cuc/entrenamiento/firmas
archivos_adjuntos/bonificaciones/evidencias
archivos_adjuntos/supervisor/*
imagenes_personas

# mantenimiento
archivos_adjuntos/mantenimiento/evidencias

# profesores
application/controllers/profesores_csep_control.php

application/temp/*

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

